@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
.logo{
	height: 60px;
	width: 60px;
}
.carousel-item > img{
	width: 100%;
	height: 100%;
}
.title{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color:#1A1266;

}
.ser_img{
	width: 500px;
	height: 400px;
}
@media(max-width:1200px) and (min-width:280px){
	.logo{
		height: 40px;
		width: 40px;
	}
	.logo_text{
		font-size: 14px;
	}
	.title{
		font-size: 18px;
	}
}